* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background-color: #f7fafb;
}

.title h2 {
    color: #3c78ff;
    font-weight: 600;
    padding: 15px 0;
}

p {
    color: #6d7a8c;
    text-align: justify;
}

.container {
    width: 85%;
    height: inherit;
}

.row {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: row;
}

.column {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
}

.btn-blue {
    background-color: rgba(0, 91, 211, 0.95);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Open Sans";
    border-radius: 3px;
    padding: 18px 28px;
    color: #ffffff;
    font-size: 0.9em;
    font-weight: 600;
}

header {
    width: 100%;
    height: inherit;
    background-color: #FFFFFF;
}

.header-top {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ececec;
    height: 60px;
    font-family: 'Open Sans', sans-serif;
}

.header-top-left {
    width: 65%;
    height: inherit;
    display: flex;
}

.header-top-left i {
    color: #196bd7;
    padding-right: 10px;
    font-size: 0.9em;
}

.header-top-left a {
    color: #6d7a8c;
    font-size: 0.9em;
}

.phone, .address, .schedule {
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-right: 1px solid #ececec;
}

.phone {
    padding-left: 0;
}

#menu {
    display: none;
}

#menu-icon {
    display: none;
}

.logo-mobile {
    display: none;
}

.header-top-right {
    width: 35%;
    height: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.language {
    display: flex;
    padding: 0 10px;
    transition: box-shadow 0.5s;
}

.language:hover {
    box-shadow: 1px 1px 5px gray;
}

.language-change {
    padding: 0px 10px;
    color: #838f9e;
    font-weight: bolder;
}

.social {
    display: flex;
    height: inherit;
    align-items: center;
}

.social-facebook {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ECF1F8;
    border-radius: 0.3rem;
    color: #3b5998;
    margin: 0 5px;
    transition: background-color 0.5s, color 0.5s;
}

.social-facebook:hover {
    background-color: #3b5998;
    color: #FFFFFF;
}

.social-twitter {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ECF5F8;
    border-radius: 0.3rem;
    color: #1eb0dd;
    margin: 0 5px;
    transition: background-color 0.5s, color 0.5s;
}

.social-twitter:hover {
    background-color: #1eb0dd;
    color: #FFFFFF;
}


.header-bottom {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px -2px gray;
    font-family: 'Poppins', sans-serif;
}

.header-bottom-left {
    width: 20%;
    height: inherit;
}

.header-bottom-left .logo {
    height: inherit;
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
}

.header-bottom-right {
    width: 80%;
    height: inherit;
}

nav {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: flex-end;
}


.nav-item {
    height: inherit;
    padding: 0px 10px;
}

.nav-item a {
    height: inherit;
    color: #6d7a8c;
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: color 0.5s;
}

.nav-item a:hover {
    color: #196bd7;
}

.banner {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    background-image: url(../img/BannerBackground.jpg);
    background-size: cover;
    background-position: center;
    font-family: "Poppins";
    background-repeat: no-repeat;
}

.legends {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.legend, .sublegend {
    width: 100%;
}

.banner .legends h1 {
    font-size: 3em;
    color: #002e8d;
}

.banner .sublegend h2 {
    color: #3c78ff;
    font-weight: 500;
}

.banner .sublegend h3 {
    color: #739eff;
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 10px;
}

.btn-banner {
    margin: 20px 0;
}

.quick-cards {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    font-family: "Poppins";
    color: #ffffff;
    margin: -100px 0 30px 0;
    background-color: #f7fafb;
}

.quick-card {
    width: 25%;
    display: flex;
    flex-direction: column;
    background-color: #085dce;
    padding: 20px;
    transition: background-color 0.5s, box-shadow 0.5s;
}

.quick-card:hover {
    background-color: #0051bb;
    box-shadow: 0 0 40px rgba(0,0,0,.12);
}

.quick-card:nth-child(even) {
    background-color: #0051bb;
}

.quick-card:nth-child(even):hover {
    background-color: #085dce;
}

.quick-card > * {
    padding: 5px 0;
}

.quick-card .icon img {
    height: 60px;
}

.quick-card .title h3 {
    font-weight: 500;
}

.quick-card  .description p{
    font-size: 0.9em;
    font-weight: 300;    
    text-align: justify;
    line-height: 1.3em;
    color: #ccc;
}

.about {
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    background-color: #f7fafb;
    font-family: "Poppins";
}

.about .left {
    width: 45%;
    height: inherit;
}

.about p, .about li {
    color: #6d7a8c;
    text-align: justify;
}

.about li {
    padding: 0 15px;
}

.about li i {
    padding: 0 10px;
}

.about .right {
    width: 55%;
    height: inherit;
}


.about .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.about .right .video {
    width: 90%;
    height: 400px;
    background-color: #f7f7f7;
    box-shadow: 0 25px 50px rgba(0,0,0,.20);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-play {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #005bd3;
    color: white;
    transition: all 0.5s ease;
}

.btn-play:hover {
    width: 65px;
    height: 65px;
    background-color: #085dce;
}

.services {
    width: 100%;
    height: auto;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    background-image: url(../img/ServicesBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Poppins";
}

.services .left {
    width: 25%;
    padding: 30px 0;
}

.medical-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #448aff;
    padding: 30px 0;
    color: #fff;
}

.medical-card .title, .medical-card-item {
    width: 80%;
}

.medical-card-item {
    padding: 20px 0;
    border-bottom: 1px solid #fff;
}

.medical-card-item a{
    color: #fff;
}

.medical-card .title h3 {
    font-weight: 600;
}

.medical-card .btn-blue {
    margin: 20px 0 0 0;
    border: 1px solid white;
    background-color: #448aff;
    transition: all 0.5s;
}

.medical-card .btn-blue:hover {
    background-color: #fff;
    color: #0051bb;
}

.services .right {
    width: 75%;
    padding: 30px 0;
}

.services-cards {
    width: 100%;
    display: flex;
    padding-bottom: 30px;
    justify-content: space-around;
}

.services-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    background: white;
    box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.3);
    transition: all 0.5s;
}

.services-card:hover {
    width: 30.1%;
    box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.5);
}

.services-card  .thumbnail {
    width: 100%;
    display: flex;
    justify-content: center;
}

.services-card .title {
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

.services-card .title, .services-card .description {
    width: 90%;
}

.services-card .description {
    padding: 10px 0;
}

.services-card .title h3{
    font-weight: 500;
}

.services-card .description p {
    text-align: justify;
    font-size: 0.9em;
}

.services .right .view-all-services {
    display: flex;
    justify-content: center;
    
}

.services .right .view-all-services .btn-blue {
    border: 1px solid gray;
    background-color: #448aff;
    transition: all 0.5s;
}

.services .right .view-all-services .btn-blue:hover {
    background-color: #fff;
    color: #0051bb;
}

.gallery {
    width: 100%;
    height: auto;
    padding: 30px 0 40px 0;
    display: flex;
    justify-content: center;
    background-color: #fff;
    font-family: "Poppins";
}

.gallery .title {
    width: 100%;
}

.gallery-grid {
    display: flex;
    flex-direction: column;
}

.gallery-grid .row {
    flex-direction: row;
}

.gallery-grid .row img {
    width: 50%;
    padding: 10px;
}

.testimonials {
    padding: 30px 0;
    background-color: #f7f7f7;
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.testimonials-slider {
    display: flex;
}

.testimonials .container .row {
    flex-direction: column;
}

.testimonials .titles, .testimonials .title {
    width: 100%;
}

.testimonials .title h2 {
    text-align: center;
}

.testimonials .description p {
    text-align: center;
}

.testimonial {
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 30px 20px; 
}


.testimonial .case, .testimonial .name {
    background-color: #ffffff;
    padding: 15px 30px;
}

.testimonial .case p, .testimonial .name p {
    text-align: center;
    font-size: 0.9em;
}

.testimonial .name p {
    font-weight: bold;
}


.contact {
    padding: 30px 0;
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    background-color: #fff;
}


.contact .left {
    width: 45%;
    padding: 20px 0;
}

.contact .right {
    width: 55%;
    padding: 20px 0;
}

.accordion {
    width: 100%;
    background-color: white;
    border: 1px solid lightgray; 
    outline: none;
    text-align: left;
    padding: 18px;
    color: #6d7a8c;
    font-size: 1em;
    font-family: "Poppins";
    transition: all 0.5s;
}

.active, .accordion:hover {
    background-color: #ecf1f8;
    color: #3c78ff;
}

.panel-accordion {
    padding: 0px 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #ecf1f8;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.panel-accordion p {
    font-size: 0.9em;
    padding: 20px 0;
}

.form {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
}

form {
    width: 90%;
    height: inherit;
    box-shadow: 0 5px 10px rgba(0,0,0,.20);
    display: flex;
    justify-content: center;
}

form .title {
    display: flex;
    justify-content: center;
}

form .title h2 {
    width: 95%;
}

form input, form button, form textarea, form select {
    font-family: "Poppins";
    color: #8b93a2;
    background-color: #f9f9f9;
    padding: 12px 15px;
    font-weight: 600;
    border-radius: 3px;
    border: 1px solid #f1f1f1;
    margin: 5px 10px 5px 0;
}

.form .container {
    width: 100%;
}

#name, #email, #address {
    width: 290px;
}

#phone {
    width: 160px;
}

#select {
    width: 190px;
}

form .container .column .row{
    width: 100%;
    display: flex;
    justify-content: center;
}

#location {
    width: 190px;
    height: 50px;
    font-size: 0.6em;
}

#message {
    width: 86%;
    font-size: 0.8em;
}

.jobs {
    display: flex;
    justify-content: center;
    font-family: "Poppins";
    color: #3c78ff;   
}

.work-with-us{
    width: 100%;
    display: flex;
    justify-content: center;
}

.jobs h3 {
    padding: 20px 0;
    font-weight: 500;
}

.jobs span {
    font-weight: bold;
}

footer {
    padding: 30px 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    font-family: "Poppins";
}

.footer-logo, .facebook-frame, .twitter-frame {
    width: 33%;
    display: flex;
}

.footer-logo img{
    width: 50%;
}


/* Renta */

.renta-banner {
    display: flex;
    justify-content: center;
    height: 300px;
    background-color: #002e8d;
    font-family: "Poppins";
    color: #fff;
}

.renta-banner .left {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.renta-banner .left .titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.renta-banner .left .titles h2 {
    font-size: 2em;
    width: 100%;
}

.renta-banner .left .titles h3 {
    font-weight: 500;
    width: 60%;
    text-align: justify;
}

.renta-banner .right {
    width: 40%;
    height: inherit;
    background-image: url(../img/BannerPages.jpg);
    background-size: cover;
}

.cart {
    display: flex;
    justify-content: center;
    font-family: "Poppins";
    padding: 30px 0;
}

.cart .container .row {
    justify-content: space-between;
    padding: 10px 0;
}

.cart .container .row .item {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 1px 1px 5px lightgray;
}

.cart .container .row .item .image {
    display: flex;
}

.cart .container .row .item .image img {
    width: 100%;
}

.cart .container .row .item .description {
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: center;
}

.cart .container .row .item .description p {
    width: 85%;
    font-size: 0.8em;
    padding: 20px 0;
}

.cart .container .row .item .description span {
    font-weight: bold;
}

/* Fin Renta */

/* Super Large Screens */

@media screen and (min-width: 1440px) {
    
    .quick-card {
        padding: 50px 20px;
    }
    
    form {
        width: auto;  
    }
    
    form .container .column .row{
        width: 100%;
        justify-content: center;
        padding: 0 5px;
    }
    
    #name, #email, #address, #phone {
        width: 80%;
    }

    #select, #location {
        width: 80%;
    }
    
    #location {
        font-size: 0.8em;
    }
    
    #message {
        width: 100%;
    }
    
}

@media screen and (max-width: 992px) {
    body {
        /* background-color: blue; */
    }
    
    .container {
        width: 90%;
    }
    
    .header-top-left {
        width: 80%;
    }
    
    .header-top-right {
        width: 20%;
    }
    
    .social {
        display: none;
    }
    
    .about .right .video {
        height: 330px;
    }
    
    .about .left ul {
        padding: 0 0 30px 0;
    }
    
    .services .container {
        width: 95%;
    }
    
    .contact .container .column .row {
        flex-direction: column;
    }
    
    .contact .left, .contact .right {
        width: 100%;
    }
    
    .contact .right .form form{
        width: 100%;
    }

    #name, #email, #address, #phone, #select {
        width: 80%;
    }

    #select, #location {
        width: 85%;
    }
    
    #location {
        font-size: 0.8em;
    }
    
    #message {
        width: 80%;
    }
    
    form .container .column .row {
        align-items: center;
    }
    
    #lastrow {
        margin-bottom: 10px;
    }
    
    .renta-banner .left {
        width: 100%;
    }
    
    .renta-banner .right {
        display: none;
    }
    
}

@media screen and (max-width: 768px) {
    body {
        /* background-color: darkseagreen; */
    }
    
    .header-top-left {
        width: 80%;
    }
    
    .header-top-right {
        width: 20%;
    }
    
    .address {
        display: none;
    }
    
    .header-bottom-left {
        width: 13%;
    }
    
    .header-bottom-right {
        width: 87%;
    }
    
    .nav-item {
        padding: 0px 8px;
    }    
    
    .nav-item a {
        font-size: 0.9em;
    }
    
    .banner .legends h1 {
        font-size: 2.5em;
    }

    .banner .sublegend h2 {
        font-size: 1.5em;
    }

    .banner .sublegend h3 {
        font-size: 0.9em;
        margin-bottom: 10px;
    }
    
    .quick-cards {
        margin: 0;
    }
    
    .quick-cards .container {
        width: 100%;
    }
    
    .quick-card .title h3 {
        font-size: 1em;
    }
    
    .quick-card .description p {
        font-size: 0.8em;
    }
    
    .about {
        padding-bottom: 30px;
    }
    
    .about p, .about li {
        font-size: 0.9em;
    }
    
    .about .container .row{
        flex-direction: column;
    }
    .about .left {
        width: 100%;
    }
    
    .about .right {
        width: 100%;
    }
    
    .about .right .video {
        width: 100%;
        height: 300px;
    }
    
    .services .container {
        width: 100%;
    }
    
    .services .container .column .titles > * {
        width: 95%;
        margin: auto;
    }
    
    .services .container .row {
        flex-direction: column;
    }
    
    .services .left {
        width: 100%;
        order: 2;
    }
    
    .services .right {
        width: 100%;
        order: 1;
    }
    
    .services-card {
        width: 32%;
    }
    
    .services-card:hover {
        width: 32%;
    }
    
    .services-card .description p {
        font-size: 0.8em;
    }
    
    .medical-card {
        padding: 20px 0;
    }
    
    .gallery-grid .row {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .gallery-grid .row img {        
        padding: 4px;
        width: 48%;
    }
    
    .testimonials-slider {
        justify-content: center;
    }
    
    .testimonial {
        padding: 30px 5px;
        width: 100%;
    }
    
    .testimonial .case p, .testimonial .name p {
        font-size: 0.8em;
    }
    
    .contact .container {
        width: 96%;
    }
    
    .contact .container .column .row{
        flex-direction: column;
    }
    
    .contact .left, .contact .right {
        width: 100%;
    }
    
    .jobs h3 {
        font-size: 0.9em;
        text-align: center;
    }
    
    .footer-top .row{
        flex-direction: column;
    }
 
    .footer-logo, .facebook-frame, .twitter-frame {
        width: 100%;
        justify-content: center;
    }
    
}

@media screen and (max-width: 576px) {
    body {
        /*background-color: gray; */
    }
    
    header {
        height: auto;
    }
    
    .header-top {
        height: inherit;
    }
    
    .header-top-left {
        display: none;
    }
    
    .header-top-right {
        width: 50%;
    }    
    
    #menu-icon {
        height: 80px;
        display: flex;
        align-items: center;
        padding-right: 10px;
    }
    
    .logo-mobile {
        width: 50%;
        height: inherit;
        display: flex;
        align-items: center;
    }
    
    .fa-bars {
        color: #196bd7;
    }
    
    .logo-mobile img {
        height: 60px;
    }
    
    .header-bottom {
        display: flex;
        height: auto;
    }
    
    .header-bottom-left {
        display: none;
    }
    
    .header-bottom-right {
        width: 100%;
        height: auto;
        display: none;        
    }
    
    nav {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav-item {
        height: auto;
        padding: 10px 0px;
    }
    
    .banner .legends h1 {
        font-size: 2em;
    }

    .banner .sublegend h2 {
        font-size: 1.2em;
        text-shadow: 0px 1px 1px #3c78ff;
    }

    .banner .sublegend h3 {
        font-size: 0.9em;
        text-shadow: 0px 1px 1px #739eff;
    }
    
    .quick-cards .row {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .quick-card {
        width: 36%;
        background-color: #0051bb;
    }
    
    .quick-card:hover {
        background-color: #085dce;
    }
    
    .services .container {
        justify-content: center;
        align-items: center;
    }
    
    .services-cards {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    
    .services-card {
        width: 90%;
        justify-content: center;
        margin-bottom: 10px;
    }
    
    .services-card:hover {
        width: 90%;
    }
    
    .medical-card-item {
        padding: 15px 0;
    }
    
    .gallery .container {
        width: 98%;
    }
    
    .gallery-grid .row img {        
        padding: 4px;
        width: 46%;
    }
    
    .testimonials-slider {
        flex-direction: column;
    }
    
    .contact .left button {
        font-size: 0.8em;
    }
    
    .panel-accordion p {
        font-size: 0.8em;
    }
    
    .testimonial {
        padding: 10px 0;
    }
    
    #select {
        width: 90%;
    }
    
    #location {
        font-size: 0.7em;
    }
    
    
    .renta-banner .titles, .renta-banner .titles h3 {
        width: 100%;
        text-align: center;
        align-items: center;
    }
    
    .renta-banner .titles {
        display: flex;
        justify-content: center;
    }
    
    .renta-banner .titles h2 {
        width: 100%;
    }
    
    .renta-banner .left .titles h3 {
        width: 100%;
    }
    
    .cart .container .row {
        flex-direction: column;
    }
    
    .cart .container .row .item {
        width: 100%;
        margin: 10px 0;
    }
    
    .footer-bottom {
        display: flex;
        justify-content: center;
    }
    
    .footer-bottom .container p {
        text-align: center;
    }
    
}
